<div *ngIf="vm$ | async as vm;else status" class="todo-list">

    <article>
        <form [formGroup]="form" (submit)="submit()">
            <input type="text" placeholder="Create new item" formControlName="text" required>
            <button type="submit"  [disabled]="form.invalid || inProgress">Submit</button>    
        </form>
        <div class = "filterControls">
            <label class="noselect" for="chkShowCompletedItems">                
                <input id="chkShowCompletedItems" type="checkbox" [checked]="showCompletedItems" (change)="toggleShowCompletedItems()" />
                Show Completed
            </label>
        </div> 
    </article>
    <article *ngFor="let item of vm.items | todoListFilter: showCompletedItems">
        <div class="control">
            <input type="checkbox" (change)="completeItem(item)" *ngIf="!item.completed" />
            <fa-icon [icon]="faCheck" *ngIf="item.completed"></fa-icon>
        </div>
        <div class="text" [class.completed]="item.completed">
            {{ item.text }}
        </div>
        <div class="item-info">
            <p>Created: {{ item.created | date:'EEE, dd MMM yyyy' }}</p>
            <p *ngIf="item.completed">Completed: {{ item.completed | date:'EEE, dd MMM yyyy' }}</p>
        </div>
    </article>
</div>

<ng-template #status>
    <ng-container *ngIf="error; else loading">
        <div>{{ error.title }}</div>
        <div>{{ error.message }}</div>
    </ng-container>
    <ng-template #loading>
        Loading...
    </ng-template>
</ng-template>
