<div *ngIf="vm$ | async as vm;else status" class="todo-list">

    <article>
        <form [formGroup]="form" (submit)="submit()">
            <input type="text" placeholder="Create new item" formControlName="text">
            <button type="submit"  [disabled]="form.invalid">Submit</button>    
        </form>
        
    </article>
    <article *ngFor="let item of vm.items">
        <div class="control">
            <fa-icon [icon]="faCheck" *ngIf="item.completed"></fa-icon>
        </div>
        <div class="text" [class.completed]="item.completed">
            {{ item.text }}
        </div>
        <div class="created">
            {{ item.created | date:'EEE, dd MMM yyyy' }}
        </div>
    </article>
</div>

<ng-template #status>
    <ng-container *ngIf="error; else loading">
        <div>{{ error.title }}</div>
        <div>{{ error.message }}</div>
    </ng-container>
    <ng-template #loading>
        Loading...
    </ng-template>
</ng-template>