/* You can add global styles to this file, and also import other style files */

body,
html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
}

.todo-list {
    article {
        padding: 1rem;
        margin: 0.5rem;
        background-color: #fff;
        filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
        display: flex;
        align-items: center;

        .control {
            width: 2em;

            fa-icon {
                color: green;
            }
        }

        .text {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &.completed {
                color: rgba(0,0,0,0.5);
                text-decoration: line-through;
            }
        }

        .created {
            font-size: 0.8rem;
            color: rgba(0, 0, 0, 0.5);
        }
    }

    form {
        display: flex;
        flex: 1;
        //align-items: center;
        input {
            padding: 0.5rem;
            flex: 1;
            margin-right: 1rem;
        }
    }
}
